//Size
$mainFontColor: #101010;
$mainFontSize: 1.125rem;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desctopWidth: 1280px;
$smDesctopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// MainColor

$defualt-color: #fff;
$primary-color: #002747;
$succsess-color: #26de81;
$secondaty-color: #737272;
$danger-color: #e85252;
$wrning-color: #f6c162;
$light-color: #999999;
$purple-color: #8854d0;

//Neutral color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

//border-color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
